$stroke: 2px;

h1 {
  font-weight: $bold-font;
  padding: 0 3rem 0 0;
  margin: 0 5rem 0 0;
  color: white;
  top: 0;
  font-size: 7rem;
  text-transform: uppercase;
  z-index: 10 !important;
  text-align: end;
  display: block;
  position: relative;
  text-shadow: $stroke $stroke 0 #000, $stroke $stroke 0 #000,
    $stroke $stroke 0 #000, $stroke $stroke 0 #000;
  & span {
    display: block;
    position: absolute;
    bottom: -5rem;
    right: -4rem;
    margin: 0 0;
    padding: 0 0;
  }
}
h2 {
  font-weight: $normal-font;
  margin: 2rem 1rem;
  font-size: 2rem;
  & span {
    font-weight: $bold-font;
    text-transform: uppercase;
    color: $purple;
  }
}
h3 {
  font-weight: $light-font;
  text-align: center;
}

a {
  color: $dark;
  @include fade(0.3s);
  &:hover {
    color: $purple !important;
    text-decoration: none;
  }
}

p.result {
  font-weight: $light-font;
  font-size: 1.5rem;
  padding: 0 2rem;
  position: relative;
  width: 100%;
  letter-spacing: 1px;
  &::before,
  &::after {
    font-size: 4rem;
    color: rgba($dark, 0.2);
  }
  &::before {
    position: absolute;
    content: ',,';
    top: -4.5rem;
    left: 1rem;
  }
}

@media (max-width: $bp-medium) {
  h1 {
    font-size: 5rem;
    margin: 0 1rem 0 0;
    & span {
      bottom: -4rem;
      right: 0rem;
    }
  }
}
