// FONT
$main-font: 'Teko', sans-serif;
$light-font: 300;
$normal-font: 400;
$bold-font: 700;

// BREAKPOINTS
$bp-small: 425px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;

// COLORS
$dark: #647273;
$purple: #8f5078;
$white: #f9f9f9;
